/* Код для подключения шрифта в /css/stylename.css */

@font-face {
	font-family: "PTSans";
	src: url("../../fonts/PTSansRegular/PTSansRegular.eot");
	src: url("../../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
	url("../../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSans";
	src: url("../../fonts/PTSans/PTSansBold/PTSansBold.eot");
	src: url("../../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/PTSansBold/PTSansBold.woff") format("woff"),
	url("../../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

body {
	font-family: "PTSans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	min-width: 480px;
	color: #222222;
}

img {
	max-width: 100%;
	height: auto;
}