.main_news-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e7e7e7;
}

.main_news-heading {
	margin: 0;
	font-size: 36px;
}

.main_news-brief {
	color: #959595;
}

.main_news-img {
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}

.main_news-info {
	width: 100%;
}

.main_news-text {
	margin: 0;
	margin-bottom: 10px;
}

.main_news-headword {
	font-weight: bold;
}

.main_news-details {
	display: inline-block;
	color: #cc3333;
	text-decoration: none;
	margin-bottom: 30px;
}

.main_news-details:hover {
	color: #e8a1a1;
}

@media (min-width: 1129px) {
	.main_news-content {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.main_news-details {
		margin-bottom: 0;
	}

	.main_news-img {
		width: 66.7%;
		margin-right: 15px;
		margin-bottom: 0;
	}

	.main_news-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		width: 33.3%;
	}

}